*{
    margin:0;
    padding:0;
    font-family: sans-serif;
}


/** nav bar **/
.navbar{
    width: 100%;
    height:90px;
    display: flex;
    background-color: rgb(240, 244, 248);
    position:sticky;
    top:0;
}

.logo{
    position: absolute;
    left:4px;
    background-color: whitesmoke;
    background-image:url(images-1/logo.jpeg) ;
    height:70px;
    width:70px;
    background-size: cover;  
    border-radius: 300px;
    margin-top:6px ;
}
.clgname{
    margin-left: 10px;
    position:absolute;
    left:70px;
}
.name{
    font-size: 40px;
    font-weight: 900;
    color: red;
    font-weight: bolder;
}
.institute{
    font-size: x-small;
    font-weight: 900;
    margin-top: 0px;
    color:rgb(4, 4, 98);
    margin-top:0px;
}
.ugc{
  font-size: x-small; 
  color: brown;
  font-weight: 900;
}
.rec{
    font-size: xx-small;
    font-weight: 900;
}
.app{
    font-size: xx-small;
    font-weight: 900;
}




/** toogle **/
.toogle{
    height:50px;
    width:100%;
    background-color:rgb(217, 213, 213);
    position:sticky;
   top:90px;
}
.bar{
    position: absolute;
    right:16px;
    top:16px;
}



/** hero **/
.club{
    height:690px;
    width:100%;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 4px;
}
.clublogo{
    background-image: url(images-1/clublogo.jpeg);
    height:300px;
    width:300px;
    background-size: cover;
    border-radius: 300px;
    box-shadow: 2px 2px 6px 6px rgb(232, 232, 233);
    
}
.clubname{
    font-size: 40px;
    margin-top: 10px;
    font-weight: 900;
    color:red;
}
.branch{
    font-size: 20px;
    font-weight: 900;
    color:rgb(4, 4, 98);
}


/** news **/
.news{
    background-color: red;
    padding:10px;
    margin-left:6px;
    margin-right: 6px;
    margin-top:10px;
    font-weight: 400;
    
}


/** slide **/
.scroll-container{
    white-space: nowrap;
    overflow-x: auto;
    overflow-y: hidden;
    display: flex;
    height:250px;
    width:100%;   
}
.box{
    background-color: blue;
    margin: 5px;
}
.boximg{
    background-color: aliceblue;
    height:250px;
    width:410px;
    background-image:url(images-1/1.jpeg);
}

    


/** about **/
.about-1{   
    font-size: xx-large;
    font-weight: 600;
    margin-top: 6px;
    color:rgb(4, 4, 98);
    margin-left: 15px;
    margin-top: 35px;
   
}
.about-2{    
    font-size:x-large;
    font-weight: 600;
    color:brown;
    margin-left: 15px;
}
.about-branch{
    margin-left: 18px;
    margin-top: 18px;
    font-size: x-large;
    font-weight: 400;
}
.matter{
    font-size:medium;
    margin-left: 18px;
    margin-right: 18px;
}


/** vision **/
.visionla{
    width:100%;
    display:flex;
    justify-content: center;
    align-items: center;
}
.vision{ 
    margin-top: 40px; 
    height:250px;
    width:250px;
    box-shadow: 2px 2px 6px 6px rgb(232, 232, 233);
}
.backimg{
    height:250px;
    width:250px;
    background-size: cover;
    
}
.visionla-2{
    width:100%;
    display:flex;
    justify-content: center;
    align-items: center;
}



/** heads **/
.hod{
 margin-left: 10px;  
 font-size:20px;
 margin-top: 20px; 
 font-weight: 500;
}
.hodback{
    height:200px;
    width:100%;
    display:flex;
    align-items: center;
    justify-content: center;
}
.hodback-1{
    height:180px;
    width:400px;
    background-color: white;
    box-shadow: 2px 2px 6px 6px rgb(232, 232, 233);


}
.hodimg{
    height:180px;
    width:180px;
    background-image:url(images-1/hod.jpeg) ;
    background-repeat: no-repeat;
    background-size: cover;
    
}
.nameback{
    height:180px;
    width:200px;
    margin-left:180px;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.hodname{
    font-size: 15px;
    font-weight: 600;
    margin-left:4px;
}
.hoddis{
    font-size:13px;
    font-weight: 400;
    margin-left: 4px;
    color:brown;
}
.award{
    margin-left: 3px;
  font-size: 12px; 
  margin-left: 4px; 
  margin-top: 10px;
  font-weight: 400;
  color:rgb(4, 4, 98);
}
button{
    padding:5px;
    margin-top: 3px;
}


/** clubfounders **/
.clubfounder{
    height:260px;
    width:100%;
    display:flex;
    align-items: center;
    justify-content: center;
}
.founder{
    height:230px;
    width:170px;
    margin: 10px;
    display: block;
    box-shadow: 2px 2px 6px 6px rgb(232, 232, 233);
}
.clubimg{
   height:160px;
   width:170px;
   background-image: url(images-1/clubmem-1.jpeg);
   background-size: cover;
}
.clubmem{
    margin-left: 10px;

}
.memname{
   font-size: 14px; 
   font-weight: 600;
   margin-top:5px;
}
.branch{
    font-size: 14px;
    color: brown;
    margin: 2px;
}
.position{
    font-size: smaller;
    font-weight: 550;
    color:rgb(4, 4, 98);
}



@media  (min-width:600px){
.hod{
   margin-left: 10px;  
   font-size:30px;
   margin-top: 20px; 
   font-weight: 500;
  }

  .hodback{
    height:300px;
    width:100%;
}
.hodback-1{
    height:250px;
    width:450px;
}
.hodimg{
    height:200px;
    width:200px;
    margin-top: 20px;
    margin-left: 5px;
    border-radius: 300px;
    box-shadow: 2px 2px 6px 6px rgb(232, 232, 233);

}
.hodname{
    font-size: 16px;
    font-weight: 600;
    margin-left:20px;
}
.nameback{
    height:200px;
    width:230px;
    margin-left:210px;
}
.award{
    font-size: 13px;
}
/** club Logo **/
.clublogo{
    height:400px;
    width:400px;
}

/** navbar **/
.navbar{
    width: 100%;
    height:130px;
    
}

.logo{
    position: absolute;
    left:4px;
    background-color: whitesmoke;
    background-image:url(images-1/logo.jpeg) ;
    height:120px;
    width:120px;
    background-size: cover;  
    border-radius: 300px;
    margin-top:6px ;
}
.clgname{
    margin-left: 10px;
    position:absolute;
    left:140px;
}
.name{
    font-size: 60px;
    font-weight: 900;
    color: red;
    font-weight: bolder;
}
.institute{
    font-size: medium;
    font-weight: 900;
    margin-top: 0px;
    color:rgb(4, 4, 98);
    margin-top:0px;
}
.ugc{
  font-size: medium; 
  color: brown;
  font-weight: 900;
}
.rec{
    font-size: medium;
    font-weight: 900;
}
.app{
    font-size: medium;
    font-weight: 900;
}


/** slide **/
.scroll-container{
    white-space: nowrap;
    overflow-x: auto;
    overflow-y: hidden;
    display: flex;
    height:350px;
    width:100%;   
}
.box{
    background-color: blue;
    margin: 5px;
}
.boximg{
    background-color: aliceblue;
    height:350px;
    width:780px;
    background-image:url(images-1/1.jpeg);
}

/** toogle **/
.toogle{
    height:50px;
    width:100%;
    background-color:rgb(217, 213, 213);
    position:sticky;
   top:130px;
}


.vismis{
    display:flex;
    align-items: center;
    justify-content: center;
}
.vision{ 
    margin-top: 50px; 
    height:250px;
    margin-bottom: 30px;
    width:250px;
    box-shadow: 2px 2px 6px 6px rgb(232, 232, 233);
}
.backimg{
    height:250px;
    width:250px;
    background-size: cover;
    
}
.visionla-2{
    width:100%;
    display:flex;
    justify-content: center;
    align-items: center;
}

}

