*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

 /** nav bar **/
.navbar{
    width: 100%;
    height:90px;
    display: flex;
    background-color: rgb(240, 244, 248);
    position:sticky;
    top:0;
}

.logo{
    position: absolute;
    left:4px;
    background-color: whitesmoke;
    background-image:url(images-1/logo.jpeg) ;
    height:70px;
    width:70px;
    background-size: cover;  
    border-radius: 300px;
    margin-top:6px ;
}
.clgname{
    margin-left: 10px;
    position:absolute;
    left:70px;
}
.name{
    font-size: 40px;
    font-weight: 900;
    color: red;
    font-weight: bolder;
}
.institute{
    font-size: x-small;
    font-weight: 900;
    margin-top: 0px;
    color:rgb(4, 4, 98);
    margin-top:0px;
}
.ugc{
  font-size: x-small; 
  color: brown;
  font-weight: 900;
}
.rec{
    font-size: xx-small;
    font-weight: 900;
}
.app{
    font-size: xx-small;
    font-weight: 900;
}
.sublogo-1{
  background-image: url(images-1/sublogo-3.jpeg);  
  height:50px;
  width:50px;
  background-size: cover;
  position: absolute;
  right:113px;  
  top:10px;
  border-radius:300px;
}
.sublogo-2{
  background-image:url(images-1/sublogo-2.jpeg) ;  
  height:50px;
  width:50px;
  background-size: cover;
  position: absolute;
  right:60px;  
  top:10px;
   border-radius:300px;
}
.sublogo-3{
  background-image: url(images-1/sublogo-1.jpeg);  
  height:50px;
  width:50px;
  background-size: cover;
  position: absolute;
  right:5px;  
  top:10px;
   border-radius:300px;
}
.sublogo-4{
  background-image: url(images-1/clublogo.jpeg);  
  height:55px;
  width:55px;
  background-size: cover;
  position: absolute;
  right:165px;  
  top:8px;
   border-radius:300px;
}

/** header **/
header{
    position:sticky;
    background-color:  rgb(240, 244, 248);
    top:90px;
    display:flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    z-index:100;
}

.homebut{
    font-size:15px;
    color:black;
    text-decoration: none;

} 
.nav a{
   font-size: 15px;
   color:black;
   text-decoration: none;
   font-weight: 500;
   margin-left: 10px;
   transition: .5s;
}

/**social**/
.social{
   position: absolute;
   right:10px;
   padding:10px;
    display:flex;
    font-size: 13px;
    margin-top: 5px;
    background: rgba(225,225,225,.6);
    width: fit-content;
}
.social-1{
    font-size: 11px;
    color:rgb(168, 62, 62);
}
.social-2{
    font-size: 11px;
    margin-left: 5px;
    color:green;
}
.icon{
   font-size: 11px;
}


/** hero **/
/** hero **/
.club{
    height:690px;
    width:100%;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 4px;
}
.clublogo{
    background-image: url(images-1/clublogo.jpeg);
    height:300px;
    width:300px;
    background-size: cover;
    border-radius: 300px;
    box-shadow: 2px 2px 6px 6px rgb(232, 232, 233);
    
}
.clubname{
    font-size: 40px;
    margin-top: 30px;
    font-weight: 900;
    color:red;
}
.branch{
   font-size: 20px;
}

/** news **/
.news{
    background-color: red;
    padding:10px;
    margin-left:6px;
    margin-right: 6px;
    margin-top:10px;
    font-weight: 400;
    
}


/** slide **/
.scroll-container{
    white-space: nowrap;
    overflow-x: auto;
    overflow-y: hidden;
    display: flex;
    height:250px;
    width:100%;   
}
.box{
    background-color: blue;
    margin: 5px;
}
.boximg{
    background-color: aliceblue;
    height:250px;
    width:560px;
    background-size: cover;
    background-image:url(images-1/1.jpeg);
    z-index: -1;
}
.gallbox{
    background-color: rgba(225,225,225,.6);
     height:250px;
    width:560px;
}
.gallery{
    font-size: 20px;
    left:20px;
    font-weight: 500;
    z-index: 1;
    position:relative;
    top:15%;
}

/** table **/
.faculty{
    margin:15px 45px 45px;
}
table{
    width:100%;
    border-collapse: collapse;
}
th,
td{
    border:1px solid lightgrey;
    padding: 6px;
    text-align: center;
}
td{
    font-size: 12px;
}

/** about **/
.about-1{   
    font-size: xx-large;
    font-weight: 900;
    margin-top: 6px;
    color:rgb(4, 4, 98);
    margin-left: 15px;
    margin-top: 35px;
   
}
.about-2{    
    font-size:x-large;
    font-weight: 900;
    color:brown;
    margin-left: 15px;
}
.about-branch{
    margin-left: 18px;
    margin-top: 18px;
    font-size: x-large;
    font-weight: 400;
}
.matter{
    font-size:14px;
    margin-left: 18px;
    margin-right: 18px;
}


/** vision **/
.visionla{
    width:100%;
    display:flex;
    justify-content: center;
    align-items: center;
}
.vision{ 
    margin-top: 40px; 
    height:250px;
    width:250px;
    border-radius: 30px;
    box-shadow: 2px 2px 6px 6px rgb(232, 232, 233);
}
.backimg{
    height:250px;
    width:250px;
    background-size: cover;
    border-radius: 30px;
    
}
.visionla-2{
    width:100%;
    display:flex;
    justify-content: center;
    align-items: center;
}



/** heads **/
.hod{
 margin-left: 10px;  
 font-family: "Bebas Neue", sans-serif;
 font-size:20px;
 margin-top: 20px; 
 font-weight: 900;
}
.hodback{
    height:200px;
    width:100%;
    display:flex;
    align-items: center;
    justify-content: center;
}
.hodback-1{
    height:180px;
    width:400px;
    background-color: white;
    border-radius: 30px;
    box-shadow: 2px 2px 6px 6px rgb(232, 232, 233);


}
.hodimg{
    height:180px;
    width:180px;
    border-top-left-radius: 30px;
   border-bottom-left-radius: 30px;
    background-image:url(images-1/hod.jpeg) ;
    background-repeat: no-repeat;
    background-size: cover;
    
}
.nameback{
    height:180px;
    width:200px;
    margin-left:180px;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.hodname{
    font-size: 15px;
    font-weight: 600;
    margin-left:4px;
}
.hoddis{
    font-size:13px;
    font-weight: 400;
    margin-left: 4px;
    color:brown;
}
.award{
    margin-left: 3px;
  font-size: 12px; 
  margin-left: 4px; 
  margin-top: 10px;
  font-weight: 400;
  color:rgb(4, 4, 98);
}
button{
    padding:5px;
    margin-top: 10px;
    font-weight: 900;
    background-color: rgb(165, 165, 171);
    border:none;
    border-radius: 4px;
    box-shadow: 0 0 20px#fff;
}



/** clubmatter **/
.grid1{
    display: grid;
     grid-template-columns:repeat(auto-fit, 150px);
     gap:10px;
     align-items: center;
     justify-content: center;
    
}

.container1{
    text-align: center;
    margin-top:20px;
    background-color: rgba(225,225,225,.1);
    box-shadow: 2px 2px 2px 2px rgb(232, 232, 233);
    border-radius: 10px;
    
}
ul{
    font-size: 0.8em;
    font-weight: 500;
}
.memname{
    font-size: 16px;
    font-family: "Bebas Neue", sans-serif;
    margin-top: 10px;
    

}
img{
    height:100px;
    background-size: cover;
    margin-top: 10px;
    border-radius: 300px;
    margin-bottom: 10px;
}
h2{
    margin-top:3px;
}
.org{
    font-size: 13px;
    font-family: "Playwrite DE SAS", cursive;
    margin-top: 0;
}

/** members **/
 .container2{
        text-align: center;
        background-color: rgba(225,225,225,.1);
        box-shadow: 2px 2px 2px 2px rgb(232, 232, 233);
        border-radius: 10px;
        
       } 
       .grid{
         display:grid;
         grid-template-columns:repeat(auto-fit, 150px);
        align-items: center;
        justify-content: center;
         gap:10px;
         margin:40px;
         margin-top: 20px;
       }
.aids{
    height:100px;
    width:100px;
}


/**last**/
.last{
    margin-top: 200px;
    height:350px;
    width:100%;
    background: rgb(236, 233, 233);
    padding:40px;
}
.last-1{
    width:100%;
    height:100%;
}

.logo-1{
    position: absolute;
    left:4px;
    background-color: whitesmoke;
    background-image:url(images-1/logo.jpeg) ;
    height:70px;
    width:70px;
    background-size: cover;  
    border-radius: 300px;
    margin-left: 40px;

}
.clgname-1{
    margin-left: 10px;
    position:absolute;
    left:70px;
    position: relative;
    
}
.name-1{
    font-size: 30px;
    font-weight: 900;
    color: red;
    font-weight: bolder;
}
.institute-1{
    font-size: x-small;
    font-weight: 900;
    margin-top: 0px;
    color:rgb(4, 4, 98);
    margin-top:0px;
}
.ugc-1{
  font-size: x-small; 
  color: brown;
  font-weight: 900;
}
.rec-1{
    font-size: xx-small;
    font-weight: 900;
}
.app-1{
    font-size: xx-small;
    font-weight: 900;
}

.info{
    font-size: 13px;
    margin-top: 15px;
    margin-left: 15px;
    font-weight: 500;
    margin-bottom: 8px;
}
.address{
    font-size: 11px;
    margin-left:20px ;
    font-weight: 400;
    margin-top: 1px;
}
.details{
    width:150px;
    height:120px;
    color:rgb(65, 64, 64);
    font-size: 11px;
    font-weight: 400;
    margin-top: 20px;
    margin-left: 20px;
}
.details-1{
    margin-top: 18px;
    border-bottom: 2px solid rgb(65, 64, 64);
}
.social-1{
   position: absolute;
   right:30px;
   padding:10px;
    display:flex;
    font-size: 13px;
    margin-top: 5px;
    background: rgba(225,225,225,.6);
    width: fit-content;
}
.social-2{
    font-size: 11px;
    color:rgb(168, 62, 62);
}
.social-3{
    font-size: 11px;
    margin-left: 5px;
    color:green;
}
.icon{
   font-size: 11px;
}

@media  (min-width:600px){

.hod{
   margin-left: 10px;  
   font-size:30px;
   margin-top: 20px; 
   font-weight: 500;
  }

  .hodback{
    height:300px;
    width:100%;
}
.hodback-1{
    height:250px;
    width:450px;
}
.hodimg{
    height:200px;
    width:200px;
    margin-top: 20px;
    margin-left: 5px;
    border-radius: 300px;
    box-shadow: 2px 2px 6px 6px rgb(232, 232, 233);

}
.hodname{
    font-size: 16px;
    font-weight: 600;
    margin-left:20px;
}
.nameback{
    height:200px;
    width:230px;
    margin-left:210px;
}
.award{
    font-size: 13px;
}
/** club Logo **/
.clublogo{
    height:400px;
    width:400px;
}

/** navbar **/
.navbar{
    width: 100%;
    height:130px;
    
}

.logo{
    position: absolute;
    left:4px;
    background-color: whitesmoke;
    background-image:url(images-1/logo.jpeg) ;
    height:120px;
    width:120px;
    background-size: cover;  
    border-radius: 300px;
    margin-top:6px ;
}
.clgname{
    margin-left: 10px;
    position:absolute;
    left:140px;
}
.name{
    font-size: 60px;
    font-weight: 900;
    color: red;
    font-weight: bolder;
}
.institute{
    font-size: medium;
    font-weight: 900;
    margin-top: 0px;
    color:rgb(4, 4, 98);
    margin-top:0px;
}
.ugc{
  font-size: medium; 
  color: brown;
  font-weight: 900;
}
.rec{
    font-size: medium;
    font-weight: 900;
}
.app{
    font-size: medium;
    font-weight: 900;
}

.sublogo-1{
    height:120px;
    width:120px;
    right:270px;
}
.sublogo-2{
    height:120px;
    width:120px;
    right:140px;
}
.sublogo-3{
    height:120px;
    width:120px;
    right:10px;
}
.clubname{
    font-size: 30px;
    margin-top: 30px;
}
.branch{
    font-size: 30px;
}


/** slide **/
.scroll-container{
    white-space: nowrap;
    overflow-x: auto;
    overflow-y: hidden;
    display: flex;
    height:350px;
    width:100%;   
}
.box{
    margin: 5px;
}
.boximg{
    background-color: aliceblue;
    height:600px;
    width:1450px;
    object-fit: fill;
    background-image:url(images-1/1.jpeg);
}
.gallbox{
    background-color: rgba(225,225,225,.6);
     height:600px;
    width:1450px;
}
.gallery{
    font-size: 20px;
    left:20px;
    font-weight: 500;
    z-index: 1;
    position:relative;
    top:20%;
}

/** toogle **/

header{
    position:sticky;
    background-color: rgb(229, 225, 225);
    top:130px;
    display:flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px;
    z-index:100;
}

.homebut{
    font-size:15px;
    color:black;
    font-weight: 900;
    text-decoration: none;

} 
.nav a{
   font-size: 15px;
   font-weight: 900;
   color:black;
   text-decoration: none;
   font-weight: 500;
   margin-left: 10px;
   transition: .5s;
}


.vismis{
    display:flex;
    align-items: center;
    justify-content: center;
}
.vision{ 
    margin-top: 50px; 
    height:250px;
    margin-bottom: 30px;
    width:250px;
    box-shadow: 2px 2px 6px 6px rgb(232, 232, 233);
}
.backimg{
    height:250px;
    width:250px;
    background-size: cover;
    
}
.visionla-2{
    width:100%;
    display:flex;
    justify-content: center;
    align-items: center;
}

.founder,
.clubimg{
    width:170px;
}

}